<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">
    <select id="selectAll" resultType="com.kedu.firmware.DTO.Board_CategoryDTO">
        SELECT * FROM board_category
    </select>

    <select id="selectByCategory" resultType="com.kedu.firmware.DTO.BoardDTO">
        SELECT * FROM board WHERE category_seq = #{category_seq}
    </select>

    <select id="selectDefaultCategory" resultType="com.kedu.firmware.DTO.Board_CategoryDTO">
        SELECT * FROM board_category WHERE category_seq = 0
    </select>
</mapper>
