<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="MailBox">
    <insert id="insertMailBox" useGeneratedKeys="true" keyProperty="mailbox_seq" keyColumn="MAILBOX_SEQ">
        INSERT INTO mailbox (MAILBOX_SEQ, USER_SEQ)
        VALUES (MAILBOX_SEQ.NEXTVAL, #{user_seq})
    </insert>
    
    <!-- 메일함 삭제 -->
    <delete id="deleteSelectedMailBox">
  		delete from mail where mailbox_seq = #{mailbox_seq}
  	</delete>
  	
  	
</mapper>
