<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
    <insert id="insert">
        INSERT INTO notice (notice_seq, notice_title, notice_contents, notice_write_date, notice_view_count)
        VALUES ( notice_seq.nextval, #{notice_title}, #{notice_contents}, SYSDATE, 0)
    </insert>

    <select id="selectAll" resultType="com.kedu.firmware.DTO.NoticeDTO">
        SELECT * FROM notice ORDER BY notice_write_date DESC
    </select>

    <select id="selectBySeq" parameterType="int" resultType="com.kedu.firmware.DTO.NoticeDTO">
        SELECT * FROM notice WHERE notice_seq = #{notice_seq}
    </select>

</mapper>
