<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="privateMessage">
    <insert id="insert">
        INSERT INTO private_messages (sender_username, receiver_username, content, send_date)
        VALUES (#{senderUsername, jdbcType=VARCHAR}, #{receiverUsername, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, #{sendDate, jdbcType=TIMESTAMP})
    </insert>

    <select id="selectAll" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT * FROM private_messages
    </select>

    <select id="selectById" parameterType="int" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT * FROM private_messages WHERE id = #{id}
    </select>
</mapper>
