<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="privateMessage">
    <insert id="insert" parameterType="com.kedu.firmware.DTO.PrivateMessageDTO">
        INSERT INTO private_messages (
            message_seq, sender_username, receiver_username, content, send_date, read
        )
        VALUES (
            message_seq_seq.NEXTVAL,
            #{sender_username, jdbcType=VARCHAR},
            #{receiver_username, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{send_date, jdbcType=TIMESTAMP},
            #{read, jdbcType=INTEGER}
        )
    </insert>

    <select id="selectByParticipants" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT message_seq, sender_username, receiver_username, content, send_date, read
        FROM private_messages
        WHERE (sender_username = #{sender} AND receiver_username = #{receiver})
           OR (sender_username = #{receiver} AND receiver_username = #{sender})
        ORDER BY send_date       
    </select>

    <select id="selectUnreadByReceiver" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT sender_username, receiver_username, content, send_date, read
        FROM private_messages
        WHERE receiver_username = #{receiver}
          AND read = 0
    </select>

    <update id="updateMessagesReadStatus">
    UPDATE private_messages
    SET read = #{read, jdbcType=INTEGER}
    WHERE (sender_username = #{sender} AND receiver_username = #{receiver})
       OR (sender_username = #{receiver} AND receiver_username = #{sender})
    </update>
</mapper>

