<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="privateMessage">
    <!-- 메시지를 데이터베이스에 삽입합니다 -->
    <insert id="insert" parameterType="com.kedu.firmware.DTO.PrivateMessageDTO">
        INSERT INTO private_messages (
            message_seq, sender_username, receiver_username, content, send_date
        )
        VALUES (
            private_messages_seq.NEXTVAL, 
            #{sender_username, jdbcType=VARCHAR}, 
            #{receiver_username, jdbcType=VARCHAR}, 
            #{content, jdbcType=VARCHAR}, 
            #{send_date, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 모든 메시지를 데이터베이스에서 조회합니다 -->
    <select id="selectAll" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT message_seq, sender_username, receiver_username, content, send_date 
        FROM private_messages
    </select>

    <!-- 특정 ID에 해당하는 메시지를 데이터베이스에서 조회합니다 -->
    <select id="selectById" parameterType="int" resultType="com.kedu.firmware.DTO.PrivateMessageDTO">
        SELECT message_seq, sender_username, receiver_username, content, send_date 
        FROM private_messages 
        WHERE message_seq = #{id, jdbcType=INTEGER}
    </select>
</mapper>
